# Ignore all files.

*.*

# Add back the workspace configuration file.

!*.cywrk

# Add back the project directories.

!*.cydsn

# Add back the project configuration files.

!*.cydwr
!*.cyprj
!*.cysch
!*.cyversion

# Add back the source files.

!*.h
!*.c

# Ignore the generated source directories.

codegentemp
CortexM3
Generated_Source

# Add back the documentation configuration file.

!/Doxygen/Doxyfile

# Add back the documentation image files.

!/Doxygen/images/*.jpg

# Add back the documentation files.

!*.md
!*.txt
!.gitignore
